.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.column {
    width: 150px;
    height: 150px;
    margin: 10px;
}

#expandedImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
}